<h1 class="log-title"> How Much? </h1>

<div class="btn-container flex">
  <button class="btn blue-btn">
    <%= link_to('LOG IN', "/users/sign_in") %>
  </button>
  <button class="btn">
    <%= link_to('SIGN UP', "/users/sign_up") %>
  </button>
</div>