@import url("https://fonts.googleapis.com/css2?family=Proxima+Nova");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Proxima Nova', sans-serif;
}

/* Global variables */
a {
  text-decoration: none;
  color: #000;
}

.flex {
  display: flex;
}

.btn {
  width: 90%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.1rem;
  margin-bottom: 1%;
}

.login-link {
  font-weight: 200;
  color: #acabab;
  display: flex;
  margin: 1%;
  justify-content: center;
}

.back-arrow img {
  width: 2em;
  height: 2em;
}

/* Splash Screen */

.btn-container {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 20vh;
}

.blue-btn {
  background-color: #3778c2;
}

.blue-btn a {
  color: #fff;
}

.log-title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

/* Log in Screen */

.login-header {
  background-color: #3778c2;
  color: #fff;
  padding: 2%;
}

.login-header h2 {
  margin: auto 32%;
  font-weight: 400;
}

.actions input {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #3778c2;
  border: none;
  text-decoration: none;
  color: #fff;
}

#new_user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.field input {
  width: 100vw;
  padding: 3%;
  border: none;
  background-color: #fffefe;
  border-bottom: 1px solid #d4d4d4;
}

.field .email {
  border-bottom: 1px solid #d4d4d4;
  border-top: 1px solid #d4d4d4;
}

.rememberable {
  margin-top: 2%;
  margin-bottom: 2%;
}